header {
    width: auto;
    height: 130px;
    background-color: rgb(26, 99, 189);
    background-image: url(./img/pattern.png
);
    background-size: 30%;

}

#logo {
    width: 200px;
    margin-top: 80px;
    margin-left: 2%;

}


h4 {
    color: grey;
    line-height: 0%;
}

#Author {
    color: rgb(13, 199, 199);
}

.info-pic {
    color: black;
    line-height: 0%;
    font-size: small;
    font font-weight: bold;

}

.important {
    background-color: yellow;
}

table {
    taxt text-align: left:;
}

thead {

    background-color: rgb(46, 82, 244);
    text-align: left;
    color: white;

}

tbody tr:nth-child(odd) {
    background-color: rgb(144, 214, 237);
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {

    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(247, 244, 244);
    padding: 10px;

}



}